:root{
    --lato: 'Lato', sans-serif;
}
*{margin: 0;padding: 0;}
html,body,header{
    width: 100%;
    height: 100%;
}
header {
    position: relative;
    width: 100%;
    height: 100%;
}

section.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

section.nav-parent {
    position: absolute;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ffffff;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding:  0;
    margin: 0;
    height: 100%;
}

a.navbar-brand {
    margin: 0;
    padding: 0;
}

nav img {
    width: 155px;
}
a.navbar-brand {
    margin: 0 10%;
}

div#collapsibleNavId {
    font-family: var(--lato);
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
}
ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav_ul-parrent li {
    padding: 0 20px;
}

ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav_ul-parrent li a {
    color: #ffffff;
}

.nav_box-icon {
    display: inline-block;
}

.nav_box-icon i {
    display: inline-block;
    font-size: 16px;
    padding: 36px 0 29px 23px;
}

ul.navbar-nav.mr-auto.mt-2.mt-lg-0.nav_ul-parrent {
    margin: 0!important;
}
div#carouselId {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.menu-long {
    text-transform: capitalize;
    width: 80%;
    position: absolute;
    top: 101%;
    display: flex;
    justify-content: space-between;
    left: 12%;
    background: #ffffff;
    color: #8080807d;
    font-family: var(--lato);
    font-size: 13px;
    font-weight: 400;
    border-top: 6px solid green;
    display: none;
}

.menu-long_box {
    width: 25%;
    padding: 0 10px;
}

p.menu-long_text {
    margin: 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid;
}

p.menu-long_text:hover {
    color: #444444;
}

li.nav-item:hover .menu-long {
    display: flex;
}
.box-slide_text {position: relative;top: -50%;text-align: center;color: #ffffff;}

.box-slide_text a {
    font-size: 10px;
    font-family: var(--lato);
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    color: #ffffff;
    padding: 11px 25px;
    background: #21b2f8;
    border-radius: 5px;
    text-transform: uppercase;
    opacity: 0;
    animation: slide-btn-inleft 1s forwards  ;
    animation-delay: 2.5s;
   
    
}

.box-slide_text a:last-child {
    background: transparent;
    border: 1px solid;
    opacity: 0;
    animation: slide-btn-inright 1s forwards  ;
    animation-delay: 2.5s;
 
}

.box-slide_text h3 {
    text-transform: uppercase;
    font-family: var(--lato);
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
   
}

/* motion box-text slide  */
.box-slide_text h3{
    animation: slide-in 1s forwards;
    animation-delay:1.2s ;
}
@keyframes slide-in{
    0%{opacity: 0;transform: scaleX(4);}
    100%{opacity: 1;transform:scaleX(1) ;}
}
.box-slide_text p{
    animation: slide-zoom 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes slide-zoom {
    0%{opacity: 0;transform: scaleX(0);}
    100%{ opacity: 1;transform: scale(1);}
}
@keyframes slide-btn-inleft{
    0%{opacity: 0;transform: translateX(-50%);}
    100%{opacity: 1;transform: translateX(0);}
}
@keyframes slide-btn-inright{
    0%{opacity: 0;transform: translateX(50%);}
    100%{opacity: 1;transform: translateX(0);}
}
.box-slide3_text {
    width: 50%;
}

.box-item {
    width: 70%;
    margin: auto;
    text-align: left;
    transform: translateX(50%);
}

.box-item p:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    padding-right: 10px;
    color: #21c2f8;
}

.box-item img {
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
}
.box-slide3_text {
    POSITION: absolute;
    /* width: 50%; */
}

.box-slide3_listimg {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    transform: translateY(-10%);
    display: flex;
    flex-wrap: wrap;
}

.box-img_soon {
    position: relative;
    transform: translateY(-15%);
}

img.img-fluid.box-img_soon-item {
    width: 35%;
}

.img-hightligth {transform: translate(1%,-224%);}

.img-hightligth img {
    width: 50%;
}
img.img-fluid.box-img_soon-item {
    opacity: 0;
}
img.img-fluid.box-img_soon-item:nth-child(1){
    animation: fadedown 0.3s forwards 0.4s;
}
img.img-fluid.box-img_soon-item:nth-child(2){
    animation: fadedown 0.3s forwards 0.6s;
}
img.img-fluid.box-img_soon-item:nth-child(3){
    animation: fadedown 0.3s forwards 0.8s;
}
img.img-fluid.box-img_soon-item:nth-child(4){
    animation: fadedown 0.3s forwards 1s;
}
img.img-fluid.box-img_soon-item:nth-child(5){
    animation: fadedown 0.3s forwards 1.2s ;
}
@keyframes fadedown{
    0%{opacity: 0;transform: translateY(100%);}
    100%{opacity: 1;transform: translateY(0);}
}
section.def {
    font-family: var(--lato);
    padding: 100px 0;
    color: #a1b1bc;
}

h2.def-title {font-size: 30px;color: #444444;font-weight: 700;margin-bottom: 29px;}

p.def-description {
    width: 80%;
    margin: auto;
    font-size: 14px;
    margin-bottom: 40px;
}

.col-md-4.def-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.def-icon {
    width: 10%;
    color: green;
    font-size: 25px;
}

.def-box_content {
    width: 90%;
    padding:   7px 0;
}

.def-box_content h3 {
    font-size: 16px;
    color: #444444;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}
section.many {
    width: 100%;
    height: 150px;
    background: #7542f9;
    font-family: var(--lato);
    color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.many-btn {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 18px;
    background: rgba(0,0,0,0.01);
    border: 1px solid;
    border-radius: 7px;
    font-size: 16px;
}

a.many-btn:hover {
    background: #444444;
}
section.panel {
    padding: 100px 0;
    font-family: var(--lato);
    font-size: 14px;
    color: #a1b1bc;
}

h2.def-title {
    font-weight: 700;
}

p.def-description {
    margin-bottom: 50px;
}

section.suport {
    padding: 100px 0;
    font-family: var(--lato);
    font-size: 14px;
    color: #a1b1bc;
    background: #f9fafb;
}

h3.suport-title {
    font-size: 30px;
    color: #2c2350;
    font-weight: 800;
    margin-bottom: 20px;
}

a.suport {
    display: inline-block;
    text-transform: capitalize;
    color: #ffffff;
    padding: 18px 23px;
    border-radius: 5px;
    background: #21c2fb;
}

section.need {
    padding: 100px 0;
    font-family: var(--lato);
    font-size: 24px;
    color: #a1b1bc;
}

h2.def-title {
    font-size: 30px;
    font-weight: 800;
}

section.admin {
    padding: 100px 0;
    text-align: center;
    background-image: url(images/creative02.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section.admin a {display: inline-block;color: #ffffff;text-transform: capitalize;font-size: 14px;padding: 18px 23px;border-radius: 7px;background: #21c2f8;}

section.admin a:last-child {
    background: transparent;
    border: 1px solid;
}

section.admin h2 {font-size: 80px;font-family: var(--lato);color: #444444;font-weight: 900;}

section.admin p {
    font-size: 28px;
    color: #444444;
}

p {}

p {}

section.number {
    padding: 100px 0;
    font-size: 24px;
    font-family: var(--lato);
    background: #222533;
    color: #ffffff;
    text-align: center;
}

.col-md-3.number-box i {
    font-size: 37px;
    padding: 14px 20px;
    border-radius: 50%;
    border: 1px solid;
    background: #21c2f8;
    color: #444444;
}

.col-md-3.number-box p {
    margin: 10px 0 12px;
    padding: 18px 0 3px;
}

span.count-title {
    font-size: 14px;
}

section.box {
    padding: 100px 0;
    font-family: var(--lato);
    text-align: center;
    color: #a1b1bc;
}

h3.box-names {
    color: #444444;
}

section.content {
    padding: 100px 0;
    font-family: var(--lato);
    font-size: 14px;
    color: #a1b1bc;
    background: #222533;
}

section.style {
    padding: 100px 0;
    background-image: url(images/0.jpg);
}

.col-md-4.style-item img {
    width: 100%;
}

.col-md-4.style-item {
    margin: 10px 0;
}

section.commerce {
    padding: 100px 0;
    text-align: center;
    background: #ffffff;
}

.col-sm-12.commerce-item img {
    width: 50%;
}

.commerce-shop {
    padding: 50px 0;
}

.commerce-shop img {
    width: 100%;
}

footer {
    padding: 20px 0;
    background: #444444;
    color: #ffffff;
    text-align: center;
}
section.need img {
    width: 100%;
}
section.nav-parent.fixed {
    position: fixed;
    height: 55px;
    background: #ffffff;
    z-index: 5;
}

section.nav-parent.fixed ul li a {
    color: #444444!important;
}