:root{
    --text-white:#f6ecdc;
    --text-sign:#367c3c;
    --text-banner:#bdac20;
    --font-montserrat:'Montserrat', sans-serif;
    --font-prata:'Prata', serif;
    --heigh-header:200px;
    --height-nav:55px
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--font-montserrat);
}
.container{
    width: 1200px;
    
}
.flex-box{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
.flex-box.center{
    align-items: center;
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.nav-mobile{
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.6s;
    
}
.bar{display: none;}
/* header  */
.header{
   height: var(--heigh-header);
}
.head-top{
    height: calc(var(--heigh-header) - var(--height-nav)) ;
}
.logo-wrapper{

cursor: pointer;
}
.logo-wrapper img{

max-width: 180px;

max-height: 50px;
}
.header__box-text{

text-align: center;
}
.header__box-text img{}
.header__box-text p{

font-size: 1.4rem;

font-weight: 500;

text-transform: uppercase;

color: #d5b85e;

margin-bottom: 1.2rem;
} 
.header__box-text .img-heading{

}
footer .wrapper-join{

margin: 2.5rem 0;
}
.wrapper-join .join__head{
}
.join__head-item {display: flex;align-items: center;justify-content: flex-end;margin: 0.7rem 0;padding-right: 20px;cursor: pointer;}
.join__head-item span {
    color: var(--text-sign);
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 1.2rem;
    min-width: 67px;
}

.join__head-item span:first-letter {
    text-transform: capitalize;
}

.join-social img {
    margin: 0 0.5rem;
}

.wrapper-join .join-social{

display: flex;

align-items: center;

cursor: pointer;
}
nav.nav {
    height: var(--height-nav);
}

ul.nav__list {
    width: 100%;
}

a.nav__link {
    color: var(--text-white);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.333;
    text-transform: uppercase;
    text-decoration: none;
}

li.nav__item {
    margin: 0 1.8rem;
}
li.nav__item:after {content: '';position: absolute;top: 132%;left: 50%;width: 0%;height: 2px;background: #fff;transform: translateX(-50%);opacity: 0;}

li.nav__item {
    position: relative;
}
li.nav__item.active:hover::after {
    opacity: 1;
    transition: 0.6s;
}

li.nav__item:hover:after {
    opacity: 1;
    transition: 0.4s;
    width: 60%;
}
/* slides */
img.full-screen {
    width: 100%;
    max-height: 410px;
    object-fit: cover;
}
.caption-box{

}
.caption-head{
    font-family: var(--font-prata);
    font-weight: 400;
    font-size: 6rem;
    color: var(--text-banner);
    letter-spacing: 23px;
    margin: 1rem 0 5rem;
}
.caption-des{
   font-size: 1.4rem;
   max-width: 470px;
   color: #545454;
   margin: 0 auto;
   font-weight: 400;
   line-height: 26px;
}
.carousel-caption.d-none.d-md-block.set-position {
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background: unset;
}
.time-active {
    text-align: center;
    transform: translateY(-50%);
}

section.policy {
    height: 270px;
}

.policy__warper {
    display: flex;
}

.policy__img img {
    height: 130px;
    width: 130px;
}

.policy__box-text h3 {
    font-weight: 800;
    color: var(--text-banner);
    text-transform: uppercase;
    font-size: 1.7rem;
    line-height: 2.5;
}

p.description {
    font-size: 1.3rem;
    line-height: 1.8;
    color: #604712;
    font-family: Arial;
}

.policy__box-text {
    margin-left: 2.5rem;
}

.align-center {
    align-items: center;
}

.positon-height__center {
    position: relative;
    bottom: 50%;
}

.margin-center {
    margin-top: 4rem;
}
/* provide */
section.provide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 735px;
    padding: 6.5rem 0 5.5rem;
}

.provide-box_img img {
    max-width: 485px;
    max-height: 587px;
}

.provide-wrapper__text {
    max-width: 716px;
    box-sizing: border-box;
    padding-left: 6rem;
}

p.wellcom {
    font-family: var(--font-prata);
    color: var(--text-banner);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2.3;
}

p.wellcom.wellcom--49 {
    font-size: 2.3rem;
}

.inline {
    display: inline;
}

.provide h3.caption-head {font-size: 4.9rem;letter-spacing: 0.2rem;}

.box-des {
    font-size: 1.3rem;
}

.box-des p:first-child {
    color: #2b2b2a;
    font-weight: 600;
}

.box-des p {
    line-height: 1.8;
    margin: 1rem 0 1.6rem;
}

.viewmore {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.viewmore a {
    color: var(--text-banner);
    font-family: Arial;
    display: inline-block;
    border-bottom: 1px solid var(--text-banner);
}
/*provide*/
section.banner img {
    width: 100%;
    max-height: 265px;
    object-fit: cover;
}

.box-headding {
    text-align: center;
    margin: 5rem 0 4.5rem;
}

h3.headding {
    font-family: var(--font-prata);
    color: var(--text-banner);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 2.5rem;
}

p.head-des {
    text-transform: uppercase;
    color: #838383;
    font-size: 1.3rem;
    line-height: 2.4;
    font-weight: 600;
    margin-top: 2rem;
    letter-spacing: 0.3rem;
}

article.vertical {
    max-width: 360px;
    box-shadow: -2px 1px 9px 0px #888888;
    margin-bottom: 20px;
    border-bottom: 5px solid #e5b245;
    border-radius: 0px  0px 5px 5px;
    background: #fff;
}

article.vertical .heading {
    font-family: var(--font-prata);
    font-size: 2rem;
    color: #9e8121;
    text-transform: uppercase;
    line-height: 1.8;
    text-align: center;
    margin: 3.6rem 0 2.3rem;
}

article.vertical .description {
    text-align: center;
    color: #838383;
    font-family: var(--font-montserrat);
    font-weight: 500;
}

article.vertical .viewmore {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.5;
    letter-spacing: 0.3rem;
    margin: 2.3rem 0;
}

.service-wapper {
    width: 100%;
    padding: 0 1.5rem;
}section.service {
    padding-bottom: 47px;
    min-height: 752px;
}
h3.name {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 2.4rem;
}


.product-wapper {
    text-align: center;
}

.product-wrapper p.description {
    color: #b8b8b8;
}

.product-wapper .description {
    color: #979797;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
img.pre.pre--hover {transform: rotate(0);z-index: 0;}

img.next.next--pre {
    transform: rotate(180deg);
    z-index: 0;
}




img.next:hover {opacity: 0;}

img.pre:hover {
    opacity: 0;
}

.box-price {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0;
}

span.price {color: #777777;font-weight: 700;font-size: 1.4rem;}

img.pre {
    transform: rotate(180deg);
    position: absolute;
    left: -25px;
    top: 30%;
    z-index: 1;
}

img.next {
    position: absolute;
    right: -29px;
    top: 30%;
    z-index: 1;
}
.why-warrper {
    max-width: 870px;
    margin-left: auto;
    padding-top: 1px;
}

.why-warrper .head-des {
    letter-spacing: 0.1rem;
    text-transform: unset;
}
section.why {
    padding-bottom: 2rem;
}
.video-item p {
    color: var(--text-banner);
    font-size: 1.3rem;
    font-weight: 600;
}

.video-item {
    background: #fff;
    margin: 11px 0;
    padding: 10px 0;
    padding-left: 6.3rem;
    cursor: pointer;
    min-height: 80px;
    display: flex;
    align-items: center;
}
.video-item:hover {background-image: url(../images/bg.png);}

.video-item:hover p {
    color: #fff;
    position: relative;
}

.video-item:hover p:after {content: '';position: absolute;top: 0;left: -10%;width: 10px;height: 10px;border: 2px solid;border-bottom: 0;transform: rotate(45deg);border-left: 0;}




img.video-img {width: 560px;height: 400px;}

.box-video {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 444px;
}

.video-wrapper {
    margin-left: 43px;
}
.famous-ifo {
    max-width: 876px;
    margin: 0 auto;
}
section.famous {
    padding-top: 1.2;
    padding-bottom: 6rem;
}
.news p.description {
    text-align: left;
}

.news h3.heading {
    text-align: left;
    color: #d6b136;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.news article.vertical .viewmore {
    text-align: left;
    margin-top: 1rem;
}

.news article.vertical .viewmore a {
    text-decoration: none;
}

.news article.vertical {
    border: none;
    box-shadow: none;
}

.news img.thumb {
    width: 100%;
}
.service .box-headding {
    margin-top: 5.5rem;
    margin-bottom: 4rem;
}

.service p.head-des {
    margin-top: 1.5rem;
}

.service .viewmore a {
    text-decoration: none;
    line-height: 1.5;
}

.service article.vertical .viewmore {margin-bottom: 3.6rem;}

.service p.description {
    padding: 0 2.4rem;
}

span.del-price {
    color: #bcbcbc;
    text-decoration: line-through;
    margin-right: 10px;
}

section.product {
    margin-bottom: 5rem;
}

.why .box-headding {
    margin-top: 4rem;
    margin-bottom: 3.8rem;
}

section.video {
    padding-bottom: 5.5rem;
}

.video-item:first-child {
    margin-top: 0;
}

.famous h3.headding {
    color: #fff;
}

section.news {
    padding-top: 2.3rem;
    padding-bottom: 4.3rem;
}

.news .box-headding {
    margin-bottom: 3.5rem;
}

.news article.vertical .viewmore a {
    border: unset;
    color: #3d3d3d;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}

section.map {
    padding: 6rem 0;
}
footer {
    padding-top: 0.5rem;
}

footer .header__box-text img:first-child {
    margin: 4rem 0 3.5rem;
}
li.nav__item:hover a {
    color: #fff;
}

article.vertical:hover {
    transform: scale(1.02);
    transition: 0.6s;
}

img.thumb {
    cursor: pointer;
}

.product-wapper:hover {
    transform: scale(1.02);
    transition: 0.6s;
}