.options{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
   
    .shortcutsList_1uCz{
        display: flex;
        width: 100%;
        padding: 0.6rem 0;
    }
    .shortcutItem_1mvn{
        display: flex;
        width: 10%;
        flex-direction: column;
        align-items: center;
        img{
            width: 52px;
    height: 52px;
        }
    }
    
    .text_3zD4{
        color: #444;
        padding-top: 0.3rem;
        line-height: 1.5rem;
    }
}
.banner {
    margin-top: 1.2rem;
}